node_modules
.env
.env.local
.env.preview
.env.production
!.env.example
dist
build
.turbo
*.log
.DS_Store
Thumbs.db
coverage
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.tsbuildinfo
